.App {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  background-color: #14213d;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}
/* .input-field {
  display: flex;
  justify-content: center;
} */
.input-style {
  display: flex;
  position: relative;
  /* box-sizing: border-box; */
  background-color: transparent;
  border: solid 3px transparent;
  border-bottom: dotted 3px #fca311;
  font-size: 2rem;
  flex: 1 1 0;
  min-width: 0;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.topic-input {
  color: white;
}

.layer2 {
  display: flex;
  flex-direction: column;
  position: relative;
  border-style: solid;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
  flex: 1 1 0;
  /* max-width: 3rem; */
  background-color: white;
  min-width: 25%;

  /* box-sizing: border-box; */
}
.list-button-style {
  border-radius: 1rem;
  border-color: #fca311;
  margin-top: 1rem;
  font-size: 1rem;
}
.list-item-style {
  font-size: 1.5rem;
}
.title {
  font-size: 2rem;
  background-color: #fca311;
  margin-bottom: 1rem;
}

.Note {
  background-color: #14213d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
